:root {
  --page-bg: hsl(40, 10%, 97%)

  /* elements */
  --hr: hsl(0, 0%, 80%);
  --table-border: hsl(0, 0%, 53%);
  --border-colour: hsl(0, 0%, 43%);
  --modal-backdrop: hsla(0, 0%, 0%, 0.5);
  --key-text: hsl(0, 0%, 28%);

  /* text and icons */
  --white-text: hsl(0, 0%, 100%);
  --lighter-text: hsl(0, 0%, 76%);
  --light-text: hsl(0, 0%, 57%);
  --dark-text: hsl(0, 0%, 41%);
  --darker-text: hsl(0, 0%, 28%);
  --darkest-text: hsl(0, 0%, 20%);
  --link-text: hsl(216, 76%, 39%);
  --link-text-hover: hsl(216, 70%, 56%);
  --abbr-title: hsla(0, 0%, 5%, 0.74);
  --label-text: hsl(207, 13%, 41%);
  --input-text: hsl(207, 12%, 29%);

  /* forms */
  --input-bg: hsl(0, 0%, 98%);
  --input-border: hsl(202, 7%, 77%);
  --input-border-focus: hsl(202, 80%, 55%);
  --radio-card-label: hsl(40, 16%, 90%);

  /* buttons */
  --primary: hsl(202, 50%, 45%);
  --primary-hover: hsl(202, 50%, 60%);
  --secondary: hsl(40, 16%, 90%);
  --secondary-hover: hsl(40, 16%, 80%);
  --edit: hsl(35, 84%, 54%);
  --edit-hover: hsl(35, 84%, 72%);
  --delete: hsl(356, 75%, 60%);
  --delete-hover: hsl(356, 75%, 80%);
  --disabled: hsl(260, 2%, 93%);
  --disabled-text: hsl(260, 2%, 82%);
}
